#map
{
  position: absolute;
  height: 100%;
  width: 100%;
}

body
{
  color: white;
}


.title
{
  text-align: center;
}

.info
{
  padding: 10px;
  color: white;
  background-color: rgba(137, 215, 95, 0.69);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  border-color: #80b7f2;
}
