/*SPORT USER*/
.state-icon {
  left: -5px;
}
.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}
.list-group-item{
  color: black;
}
.well .list-group {
  margin-bottom: 0px;
}

#linkModifyUser{
  text-decoration: none;
}